*:80

tls off
log stdout
errors stderr

gzip
root /app/public/

rewrite {
    if {path} is /
    to /proxy_backend/{uri}
}

rewrite /uploads {
  r /
  to {$ENV_RAILS_PUBLIC_UPLOADS_PATH}/{1}
}

rewrite {
  if {host} not_has mapsapi
  if {host} not_has sqlapi
  to {path} /proxy_backend/{uri}
}

rewrite {
  if {host} has mapsapi
  to /proxy_mapsapi/{uri}
}

rewrite {
  if {host} has sqlapi
  to /proxy_sqlapi/{uri}
}

proxy /proxy_backend http://backend {
  without /proxy_backend
  transparent
  header_upstream X-Forwarded-Proto https
}

proxy /proxy_mapsapi http://mapsapi {
  without /proxy_mapsapi
  transparent
  header_upstream X-Forwarded-Proto https
}

proxy /proxy_sqlapi http://sqlapi {
  without /proxy_sqlapi
  transparent
  header_upstream X-Forwarded-Proto https
}
